<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <div class="wrap">
        <div class="timer">
            <div class="tabs">
                <button class="timer__button tabs__button ">TIMER</button>
                <button class="timer__button tabs__button tabs__button--center">STOPWATCH</button>
                <button class="timer__button tabs__button tabs__button--active">CLOCK</button>
            </div>
            <div class="wrap-clock">
                <div class="clock__section-group">
                    <div class="clock__section-item">
                        <span class="numer__item">14</span>
                        <span class="number__desription">Hrs</span>
                    </div>
                    <span class="clock-colon">:</span>

                    <div class="clock__section-item">
                        <span class="numer__item">54</span>
                        <span class="number__desription">Min</span>
                    </div>
                    <span class="clock-colon">:</span>

                    <div class="clock__section-item">
                        <span class="numer__item">23</span>
                        <span class="number__desription">Sec</span>
                    </div>
                </div>
                <p class="clock__date">Sunday, November 07</p>
                <div class="preview-time">
                    <div class="preview-time__item">
                        <div class="preview-time__capital">
                            London
                        </div>
                        <div class="preview-time__sub-timer">
                            14:34
                        </div>
                    </div>
                    <div class="preview-time__item">
                        <div class="preview-time__capital">
                            los-hujantos
                        </div>
                        <div class="preview-time__sub-timer">
                            14:34
                        </div>
                    </div>
                    <div class="preview-time__item">
                        <div class="preview-time__capital">
                            Kyiv
                        </div>
                        <div class="preview-time__sub-timer">
                            14:34
                        </div>
                    </div>
                    <div class="preview-time__item">
                        <div class="preview-time__capital">
                            London
                        </div>
                        <div class="preview-time__sub-timer">
                            14:34
                        </div>
                    </div>
                    <div class="preview-time__item">
                        <div class="preview-time__capital">
                            Moscow
                        </div>
                        <div class="preview-time__sub-timer">
                            14:34
                        </div>
                    </div>
                    <div class="preview-time__item">
                        <div class="preview-time__capital">
                            Paris
                        </div>
                        <div class="preview-time__sub-timer">
                            14:34
                        </div>
                    </div>
                    <div class="preview-time__item">
                        <div class="preview-time__capital">
                            Paris
                        </div>
                        <div class="preview-time__sub-timer">
                            14:34
                        </div>
                    </div>
                    <div class="preview-time__item">
                        <div class="preview-time__capital">
                            Tokyo
                        </div>
                        <div class="preview-time__sub-timer">
                            14:34
                        </div>
                    </div>
                    <button onclick="alert('time')" class="preview-time__item">
                        <div class="preview-time__capital">
                            Kigalikili
                        </div>
                        <div class="preview-time__sub-timer">
                            14:34
                        </div>
                    </button>

                </div>
            </div>
        </div>
    </div>
</body>

</html>