<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style.css" />
        <title>Document</title>
    </head>

    <body>
        <div className="wrap">
            <div className="timer">
                <div className="tabs">
                    <button className="timer__button tabs__button ">TIMER</button>
                    <button className="timer__button tabs__button tabs__button--center tabs__button--active">STOPWATCH</button>
                    <button className="timer__button tabs__button">CLOCK</button>
                </div>
                <div className="wrap-stop-watch">
                    <div className="stop-watch__section-group">
                        <div className="stop-watch__section-item">
                            <span className="numer__item">00</span>
                            <span className="number__desription">Hrs</span>
                        </div>
                        <span className="stop-watch-colon">:</span>

                        <div className="stop-watch__section-item">
                            <span className="numer__item">00</span>
                            <span className="number__desription">Min</span>
                        </div>
                        <span className="stop-watch-colon">:</span>

                        <div className="stop-watch__section-item">
                            <span className="numer__item">00</span>
                            <span className="number__desription">Sec</span>
                        </div>
                        <span className="stop-watch-colon">:</span>

                        <div className="stop-watch__section-item">
                            <span className="numer__item">00</span>
                            <span className="number__desription">Ms</span>
                        </div>
                    </div>
                    <div className="stop-watch-button__group">
                        <button className="timer__button timer__button--one timer__button--start">Start</button>
                        <button className="timer__button timer__button--two timer__button--stop">Stop</button>
                        <button className="timer__button timer__button--three timer__button--stop">Lap</button>
                        <button className="timer__button timer__button--four timer__button--reset">Reset</button>
                    </div>
                    <ul className="lap-list">
                        <li className="lap-list__item">
                            <span className="lap-list__serial-number">1.</span>
                            <span className="lap-list__period">00:30:33:21</span>
                        </li>
                        <li className="lap-list__item">
                            <span className="lap-list__serial-number">2.</span>
                            <span className="lap-list__period">00:30:33:21</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div className="popup">
                <p className="popup__text">Please change time Lorem, ipsum dolor.</p>
            </div>
        </div>
    </body>
</html>
