<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style.css" />
        <title>Document</title>
    </head>

    <body>
        <div className="wrap">
            <div className="timer">
                <div className="tabs">
                    <button className="timer__button tabs__button tabs__button--active">TIMER</button>
                    <button className="timer__button tabs__button tabs__button--center">STOPWATCH</button>
                    <button className="timer__button tabs__button">CLOCK</button>
                </div>
                <div className="wrap-timer">
                    <div className="timer__section-group">
                        <div className="timer__section-item">
                            <button className="timer__button button__plus"><img src="arrow.svg" alt="" /></button>
                            <span className="numer__item">20</span>
                            <span className="number__desription">Hrs</span>
                            <button className="timer__button button__minus"><img src="arrow.svg" alt="" /></button>
                        </div>

                        <span className="timer-colon">:</span>

                        <div className="timer__section-item">
                            <button className=" timer__button button__plus"><img src="arrow.svg" alt="" /></button>
                            <span className="numer__item">48</span>
                            <span className="number__desription">Min</span>
                            <button className=" timer__button button__minus"><img src="arrow.svg" alt="" /></button>
                        </div>

                        <span className="timer-colon">:</span>

                        <div className="timer__section-item">
                            <button className=" timer__button button__plus"><img src="arrow.svg" alt="" /></button>
                            <span className="numer__item">10</span>
                            <span className="number__desription">Sec</span>
                            <button className=" timer__button button__minus"><img src="arrow.svg" alt="" /></button>
                        </div>
                    </div>
                    <div className="timer-button__group">
                        <button className="timer__button timer__button--start">Start</button>
                        <button className="timer__button timer__button--stop">Stop</button>
                        <button className="timer__button timer__button--reset">Reset</button>
                    </div>
                </div>
            </div>
            <div className="popup">
                <p className="popup__text">Please change time</p>
            </div>
        </div>
    </body>
</html>
